
#DATABASE
DB_USER=postgres
DB_PASSWORD=password
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=db


# BACKEND
DB_SEED=False
ENABLE_ML=False
SECRET_KEY=secret_key
JWT_ALGORITHM=HS256
ACCESS_TOKEN_MINUTES=30
ADMIN_EMAIL=admin@admin.admin
ADMIN_PASSWORD=111
API_HOST=0.0.0.0
API_PORT=1234

#FRONTEND
DADATA_TOKEN=your-dadata-token
DADATA_URL=https://suggestions.dadata.ru/suggestions/api/4_1/rs/suggest/address
FRONTEND_PORT=5555